<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>无限滚动demo</title>
  <script src="../../js/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <style>
    #app {
    }
    .word {
      border: 1px solid cyan;
      height: 600px;
      margin: 20px;
    }
  </style>
</head>
<body>
  
  <div id="app">
    <section>
      <h2 class="title">Infinte Scroll</h2>
      <!-- <div v-for="beer in beers" class="beer">
        <p>{{beer.name}}</p>
        <p>{{beer.desc}}</p>
      </div> -->
      <div v-for="word in words" class="word">
          <p>{{word.name}}</p>
          <p>{{word.desc}}</p>
          <p v-if="isBottom">到底了，正在加载新的内容</p>
        </div>
    </section>
  </div>
<script src="./app.js"></script>
</body>
</html>