<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todomvc</title>
  <style>
    [v-cloak] {
      display: none;
    }
    button {
      float: left;
    }
    ul > li{
      list-style: none;
      /* outline:1px dotted cyan; */
      width: 200px;
      background-color: lightblue;
    }
    li{
      position: relative;
    }
    .del{
      position: absolute;
      right: 0;
      top: 0;
      outline: 0;
      border: 0;
      color: #ffffff;
      background-color: #3cc;
    }
    .del:hover{
      background-color: #3ec;
      cursor: pointer;
    }
    
  </style>
</head>
<body>
<div id="app">
  <section>
    <header class="title">
      <h2>What to do next?</h2>
    </header>
  </section>
  <input type="text"
    v-model="todoText"
    @keydown.enter="addTodo">
  <ul >
    <todo-list
    v-for="(todo,index) in todos"
    :key="index"
    :content="todo"   
    :index="index"
    @delete="delTodo"
    v-cloak
    ></todo-list>
  </ul>
</div>


<script src="../js/vue.js" type="text/javascript"></script>
<script src="./app.js"></script>
</body>
</html>